button {
	background: $color-orange;
	height: 50px;
	line-height: 50px;
	padding: 0 45px;
	color: $color-white;
	border: 0;
	border-radius: 5px;
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
	cursor: pointer;
	@include transition(background .4s);

	&:hover {
		background: tint($color-orange, 5%);
	}

	&:focus {
		outline: 0;
	}
}