// header
header {
	@include clearfix;
	padding: 20px;
}

// logo
.logo {
	float: left;
	@include hide-text;
	@include retina-image("../../img/lg", 100px 29px, $retina-suffix: "@2x");
	width: 100px;
	height: 29px;
}

// twitter-icon
.twitter {
	float: right;
	@include hide-text;
	@include retina-image("../../img/twitter", 28px 21px, $retina-suffix: "@2x");
	width: 28px;
	height: 21px;
}