// header
header {
	@include clearfix;
}

// logo
.logo {
	float: left;
	@include hide-text;
	@include retina-image("../../img/logo", 95px 29px, $retina-suffix: "@2x");
	width: 95px;
	height: 29px;
}

// twitter-icon
.twitter {
	float: right;
	@include hide-text;
	@include retina-image("../../img/twitter", 28px 21px, $retina-suffix: "@2x");
	width: 28px;
	height: 21px;
}