body {
	font-family: "Raleway";
}

// typography
h1 {
	font-size: 3.2rem;
	text-align: center;
	line-height: 1;
	margin: 0;
}

.lead {
	font-size: 1.4rem;
	line-height: 1.5;
	margin: 1rem;
	margin-bottom: 2.5rem;
}